{
    "comments": false,
    "presets": [
      [
        "@babel/env",
        {
          "targets": {
            "ie": "11"
          },
          "useBuiltIns": false
        }
      ]
    ],
    "plugins": [
      "jsx-control-statements"
    ]
  }