.post-card-style{
    .card-image{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .card-name{
        font-size: 15px;
        padding-top: 5%;
        color: black;
    }
    .card-icon{
        margin-top: 5px;
        margin-left: 10px;
    }
    .card-icon:first-child{
        margin-top: 5px;
        margin-left: 0px;
    }
}