.headerInput{
    width: 500px;
}
.noDataPhoto{
    width: 100%;
    height: 100%
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}

.user-info-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black
}

.post-card-style{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.input-text{
  width: 47vw
}